[Unit]
Description=Clash Verge Service helps to launch Clash Core.
After=network-online.target nftables.service iptables.service

[Service]
User={}
Group={}

AmbientCapabilities=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN
NoNewPrivileges=false

Type=simple
ExecStart={}
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target